In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#------------------------Import Sponsors - Main Dataset from ClinicalTrials.Gov (11-2-2017 snapshot)--------------------

In [3]:
# Import sponsors text file
sponsors = pd.read_csv('C:/Users/akapoor/Music/01 Docs/HealthCare App/ctdb/sponsors.txt', sep="|")

sponsors.head()

,id,nct_id,agency_class,lead_or_collaborator,name
0,1785414,NCT03328455,Other,lead,"University of Nevada, Reno"
1,1785415,NCT03329326,Other,lead,Medical University of Vienna
2,1785416,NCT03329326,Other,collaborator,University Medical Center Goettingen
3,1785417,NCT03329326,Other,collaborator,Lund University
4,1785418,NCT03329326,Other,collaborator,"Örebro University, Sweden"